body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
  font-size: 20px;
}

.offer {
  border: 1px solid #dadada;
  padding: 20px;
  margin: 15px auto;
}

@media (min-width: 768px) {
  .offer {
    width: 80%;
  }
}

.offer__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .offer__content {
    flex-direction: row;
  }
}

.offer__left {
  display: flex;
  align-items: center;
}

.offer__right {
  text-align: right;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .offer__right {
    width: auto;
    margin-bottom: 0;
  }
}

.offer__img {
  padding: 15px 10px;
  border-right: 1px solid #dadada;
}

.offer__info {
  padding: 0 10px;
}

.offer__info__type {
  font-size: 16px;
}

.offer__info__brand {
  font-size: 16px;
  display: flex;
}

.offer__info__brand__title {
  margin-right: 7px;
}

.offer__cash span {
  text-decoration: line-through;
}

.offer__cashOffer {
  font-size: 18px;
}

.offer__btn {
  display: flex;
  justify-content: flex-end;
}

.query-icon {
  border: 1px solid #0485c9;
  color: #0485c9;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.query-icon:after {
  content: "?";
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover-content {
  position: relative;
}

.popover-content:hover .popover {
  display: block;
}

.popover {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  left: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 12px;
  display: none;
  padding: 7px 10px;
  position: absolute;
  width: 200px;
  z-index: 4;
  top: -23px;
  transition: all 0.3s ease;
}

.popover:before {
  border-bottom: 7px solid transparent;
  border-right: 7px solid rgba(0, 0, 0, 0.85);
  border-left: 7px solid transparent;
  border-top: 7px solid transparent;
  bottom: 35%;
  content: "";
  display: block;
  left: -6%;
  margin-left: 0;
  position: absolute;
}

.popover__title {
  font-size: 13px;
  display: block;
}

.popover__detail {
  font-size: 11px;
}

.btn, .btn--border {
  background-color: #0485c9;
  padding: 7px 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 35px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover, .btn--border:hover {
  background: #0485c9f2;
}

.btn--border {
  background-color: transparent;
  border: 1px solid #0485c9;
  color: #0485c9;
  flex-direction: column;
}

.btn--border:hover {
  background: #0485c9;
  color: #fff;
}

.btn--border small {
  font-size: 12px;
  font-weight: normal;
}

.btn--border span {
  font-weight: 700;
  font-size: 19px;
  display: block;
  text-align: center;
}

#loading {
  text-align: center;
}

#loading img {
  width: 100px;
}
