body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
h1 {
  text-align: center;
  font-size: 20px;
}
.offer {
  border: 1px solid #dadada;
  padding: 20px;
  margin: 15px auto;
  @media (min-width: 768px) {
    width: 80%;
  }
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    text-align: right;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      width: auto;
      margin-bottom: 0;
    }
  }
  &__img {
    padding: 15px 10px;
    border-right: 1px solid #dadada;
  }
  &__info {
    padding: 0 10px;
    &__type {
      font-size: 16px;
    }
    &__brand {
      font-size: 16px;
      display: flex;
      &__title {
        margin-right: 7px;
      }
    }
  }
  &__cash {
    span {
      text-decoration: line-through;
    }
  }
  &__cashOffer {
    font-size: 18px;
  }
  &__btn {
    display: flex;
    justify-content: flex-end;
  }
}

.query-icon {
  border: 1px solid #0485c9;
  color: #0485c9;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  &:after {
    content: "?";
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.popover-content {
  position: relative;

  &:hover {
    .popover {
      display: block;
    }
  }
}
.popover {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  left: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 12px;
  display: none;
  padding: 7px 10px;
  position: absolute;
  width: 200px;
  z-index: 4;
  top: -23px;
  transition: all 0.3s ease;

  &:before {
    border-bottom: 7px solid transparent;
    border-right: 7px solid rgba(0, 0, 0, 0.85);
    border-left: 7px solid transparent;
    border-top: 7px solid transparent;
    bottom: 35%;
    content: "";
    display: block;
    left: -6%;
    margin-left: 0;
    position: absolute;
  }
  &__title {
    font-size: 13px;
    display: block;
  }
  &__detail {
    font-size: 11px;
  }
}
.btn {
  background-color: #0485c9;
  padding: 7px 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 35px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  &:hover {
    background: #0485c9f2;
  }
  &--border {
    @extend .btn;
    background-color: transparent;
    border: 1px solid #0485c9;
    color: #0485c9;
    flex-direction: column;
    &:hover {
      background: #0485c9;
      color: #fff;
    }
    small {
      font-size: 12px;
      font-weight: normal;
    }
    span {
      font-weight: 700;
      font-size: 19px;
      display: block;
      text-align: center;
    }
  }
}

#loading {
  text-align: center;

  img {
    width: 100px;
  }
}
